{% extends "bases/template-base.html" %}

{% block title %} Inicio de sesión {% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center">
        <form class="p-3 mt-5 mb-5 shadow-lg bg-white rounded form-login" method="POST">
            {% csrf_token %}
            <main>
                <div class="d-flex justify-content-center align-items-center">
                    <h1 class="h3 mb-3 font-weight-normal">Ingresa ahora</h1>
                </div>
                <br>
                {{ form.dni }}
                {{ form.password }}
                <br>
                <div class="d-flex justify-content-center align-items-center">
                    <button class="btn btn-lg btn-primary btn-block w-75" type="submit">Ingresar</button>
                </div>
            <br>
                <div class="d-flex justify-content-start align-items-center">
                    <small class="font-weight-normal me-1">¿No te has registrado aún?</small>
                    <a class="btn btn-link linkbutton-register" href="/#"><small>Hazlo aquí</small></a>
                </div>
            </main>
        </form>
    </div>
{% endblock %}