{% load static %}

<header class="bg-light text-white ps-5 pe-5 pt-5 pb-3">
    <div class="row">
        <div class="col d-flex justify-content-start">
            <h2 class="text-dark">Sistema de Inscripciones</h2>
        </div>

        <div class="col">
            <div class="d-flex justify-content-end">
                <h2 id="fecha-1" class="text-muted row"></h2>
            </div>
            <div class="d-flex justify-content-end">
                <h5 id="fecha-2" class="text-muted row"></h5>
            </div>
        </div>
    </div>
</header>

<hr class="text-dark mb-3" style="margin: 0;">