{% extends "bases/template-base.html" %}

{% load static %}

{% block title %} Carrera {% endblock %}

{% block body-on-load %}initializeEditarCarrera("{{carrera.año}}","{{carrera.materias}}"){% endblock %}

{% block content %}
<div class="container-fluid shadow bg-white border p-3 mt-5" style="width: 30%">
    <h3 class="mb-4">Alta de carrera</h3>
    <form method="POST">
        <h5 for="input-nombre" class="form-label">Nombre</h5>
        <input type="text" class="form-control mb-3" id="input-nombre" required="True"
            placeholder="Ingrese el nombre de la carrera" name="nombre" value="{{carrera.nombre}}">

        <h5 for="input-descripcion" class="form-label">Descripcion</h5>
        <textarea class="form-control mb-3" placeholder="Ingrese la descripción de la carrera" id="input-descripcion"
            name="descripcion" required="True" size="2000" rows="3"
            style="resize: none;">{{carrera.descripcion}}</textarea>

        <div>
            <h5 class="mb-3">Duración</h5>

            <div class="d-flex justify-content-center">
                <div class="form-check me-2">
                    <input class="form-check-input" type="radio" value="Terciario" name="radio-button-año"
                        id="terciario">
                    <label class="form-check-label" for="terciario">
                        Terciario
                    </label>
                </div>

                <div class="form-check me-2">
                    <input class="form-check-input" type="radio" value="Grado" name="radio-button-año" id="grado">
                    <label class="form-check-label" for="grado">
                        Grado
                    </label>
                </div>
            </div>
        </div>

        {% if materias.count > 0 %}
        <div class="border p-3 mt-3">
            <h4 class="mb-3">Materias</h4>

            {% for materia in materias %}
            <div class="form-check">
                <input id="{{materia}}" class="materia form-check-input" name="{{materia}}" type="checkbox"
                    onclick='onCheckBoxMateriaClick("{{materia}}")'>
                <label for="{{materia}}" class="form-label">{{materia}}</label>
                <br>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="d-flex justify-content-end mt-3">
            <a href="/listar-carreras/" class="btn btn-secondary">Volver</a>
            <button class="btn btn-primary ms-2" type="submit">Aceptar</button>
        </div>

        {% csrf_token %}
    </form>
</div>
{% endblock %}

{% block scripts %} <script src="{% static 'js/notifications.js' %}"></script> {% endblock %}