{% extends "bases/template-base.html" %}

{% load static %}

{% block title %} Carrera - {{carrera.nombre}} {% endblock %}

{% block content %}
<div class="container-fluid p-4">
    <h3 class="text-center">{{carrera.nombre}}</h3>

    <h5 class="text-center text-muted mb-5">Plan de estudios</h5>

    <div class="container">
        <table class="table table-borderless border table-striped table-earning mb-0 pb-0">
            <thead>
                <tr>
                    <th class="text-center text-light" style="background-color: var(--primary);">PRIMER AÑO</th>
                </tr>
            </thead>
        </table>

        <table class="table table-borderless border table-striped table-earning mt-0 pt-0">
            <thead>
                <tr>
                    <th class="text-center">Código</th>
                    <th class="text-center">Nombre</th>
                    <th class="text-center">Duración</th>
                    <th class="text-center">Correlatividades</th>
                </tr>
            </thead>
            <tbody>
                {% for materia in primero %}
                {% if materia.semestre == 'Curso de ingreso' %}
                <tr>
                    <td class="text-center">{{materia.codigo}}</td>
                    <td class="text-center">{{materia.nombre}}</td>
                    <td class="text-center">{{materia.duracion}}</td>
                    <td class="text-center">{{materia.get_correlatividades}}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>

        <table class="table table-borderless border table-striped table-earning mb-0 pb-0">
            <thead>
                <tr>
                    <th class="text-center text-white" style="background-color: gray; 
                        padding-top: 1rem; padding-bottom: 1rem;">PRIMER SEMESTRE</th>
                </tr>
            </thead>
        </table>
        <table class="table table-borderless border table-striped table-earning mt-0 pt-0">
            <thead>
                <tr>
                    <th class="text-center">Código</th>
                    <th class="text-center">Nombre</th>
                    <th class="text-center">Duración</th>
                    <th class="text-center">Correlatividades</th>
                </tr>
            </thead>
            <tbody>
                {% for materia in primero %}
                {% if materia.semestre == 'Primer semestre' %}
                <tr>
                    <td class="text-center">{{materia.codigo}}</td>
                    <td class="text-center">{{materia.nombre}}</td>
                    <td class="text-center">{{materia.duracion}}</td>
                    <td class="text-center">{{materia.get_correlatividades}}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>

        <table class="table table-borderless border table-striped table-earning mb-0 pb-0">
            <thead>
                <tr>
                    <th class="text-center text-white" style="background-color: gray; 
                        padding-top: 1rem; padding-bottom: 1rem;">SEGUNDO SEMESTRE</th>
                </tr>
            </thead>
        </table>
        <table class="table table-borderless border table-striped table-earning mt-0 pt-0">
            <thead>
                <tr>
                    <th class="text-center">Código</th>
                    <th class="text-center">Nombre</th>
                    <th class="text-center">Duración</th>
                    <th class="text-center">Correlatividades</th>
                </tr>
            </thead>
            <tbody>
                {% for materia in primero %}
                {% if materia.semestre == 'Segundo semestre' %}
                <tr>
                    <td class="text-center">{{materia.codigo}}</td>
                    <td class="text-center">{{materia.nombre}}</td>
                    <td class="text-center">{{materia.duracion}}</td>
                    <td class="text-center">{{materia.get_correlatividades}}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block scripts %} <script src="{% static 'js/notifications.js' %}"></script> {% endblock %}